{
  "extends": [
    "eslint:recommended",
    "plugin:compat/recommended",
    "plugin:import/errors",
    "plugin:promise/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "import",
    "promise",
    "compat",
    "react"
  ],
  "rules": {
    "arrow-parens": ["off"],
    "consistent-return": "off",
    "comma-dangle": "off",
    "dot-notation": 0,
    "eqeqeq": ["error", "smart"],
    "no-console": 0,
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "no-use-before-define": "off",
    "object-curly-spacing": 0,
    "one-var": 0,
    "promise/always-return": "off",
    "promise/no-callback-in-promise": "off",
    "promise/no-nesting": "off",
    "quotes": 0,
    "semi": "error",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off"
  },
  "settings": {
    "polyfills": [ "fetch", "Object.assign", "Promise" ],
    "react": {
      "version": "detect"
    }
  }
}
