.chart {
  padding: 5px 5px 5px 45px;
}

.chart .title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 7px;
}

.chart .row {
  display: flex;
}

.chart .label {
  display: block;
}

.chart .bar-wrapper {
  position: relative;
  border: 1px solid #CCC;
  margin: -1px 0 0 0;
}

.chart .bar {
  display: block;
  border-radius: 0 4px 4px 0;
  margin: 3px 0 3px 0;
  height: 17px;
  border: 1px solid;
}

.chart .tick {
  position: absolute;
  width: 1px;
  height: 24px;
  background-color: #BBB;
  top: 0px;
}

.chart .tick-0 {
  left: 0;
}

.chart .tick-50 {
  left: 50%;
}

.chart .tick-100 {
  left: 100%;
}

.chart .x-axis {
  display: flex;
  justify-content: space-between;
  margin-left: 167px;
  font-size: 0.8em;
  color: #444;
}
