.gem-image {
  background: 7px no-repeat;
  background-size: contain;
  height: 45px;
  width: 32px;
  line-height: 31px;
  text-align: center;
  font-size: 2em;
  transition: margin-left 1s;
}

.gem-image.stacked {
  margin-left: -32px;
}

.gem-image .numbered-gem {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background: rgba(255,255,255,0.6);
  border: 1px solid rgba(100,100,100,0.5);
  color: #666;
  line-height: 18px;
  position: absolute;
  top: 14px;
  left: 8px;
  font-size: 0.5em;
}

.public_fixedDataTableCell_cellContent a {
  color: #4183C4;
  text-decoration: none;
  cursor: pointer;
}

.fixedDataTableLayout_main {
  background-color: white;
}

.fixedDataTableRowLayout_main {
  transition: height 1s;
}

.numberedGem {
  padding-left: 3px;
      color: white;
          line-height: 44px;
              font-size: 1.5em;
}

.gem-cell {
  opacity: 1;
  transition: opacity 1s;
}

.gem-cell.transparent {
  opacity: 0;
}
