.gem-image {
  background: 7px no-repeat;
  background-size: contain;
  height: 45px;
  width: 45px;
}

.public_fixedDataTableCell_cellContent a {
  color: #4183C4;
  text-decoration: none;
  cursor: pointer;
}
