body {
  margin: 0;
  background-color: #fee9aa;
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:0.9em;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px 5px 10px;
}

.right-panel-wrapper {
  width: 130%;
  padding: 20px 0 0 5px;
  position: relative;
}

.right-panel-wrapper .description {
  background-color: rgba(255,255,255,0.7);
}

.right-panel-wrapper>div {
  position: relative;
  width: 80%;
  min-width: 400px;
  height: 208px;
  margin-bottom: 10px;
}

.preview-image {
  position: absolute;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0
}
.preview-image:hover {
  opacity: 0.5
}
.preview-image:active {
  opacity: 1
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .8s ease-in;
}

.drawer {
  border-bottom: 1px solid #777;
  padding-bottom: 3px;
  box-shadow: 0px 5px 14px -5px #7e5f01;
  transition: height .5s;
  height: 0;
  overflow: hidden;
}

.drawer.open {
  height: 105px;
}

.drawer .drawer-contents {
  padding-top:5px;
}

.drawer-handle-wrapper {
  position: relative;
}

.drawer-handle {
  position: absolute;
  width: 112px;
  height: 3px;
  background-color: #fee9aa;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -1px;
  border: 1px solid #777;
  border-top: 1px solid #fee9aa;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 14px -5px #7e5f01;
  padding: 6px;
}

.drawer-handle hr {
  margin: 3px 0;
}
.drawer-handle hr:first-child {
  margin-top: -7px;
}

.drawer .tips {
  display: flex;
  background-color: rgba(255,255,255,0.7);
  width: 1016px;
  display: flex;
  margin: 18px 0 0 37px;
  padding: 5px;
}

.drawer .tips .tips-title {
  align-self: center;
  font-weight: bold;
  padding: 0 20px 0 10px;
}

.tip-word {
  font-weight: bold;
  text-decoration: underline;
}

button {
  border: 2px solid #fff;
  /*color: #fff;*/
  background: none;
  cursor: pointer;
  padding: 5px 16px;
  display: inline-block;
  margin: 3px 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
}

button:hover {
  color: #fee9aa;
  background: #fff;
}

.modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  max-width: 100%;
  height: 480px;
  max-height: 100%;
  padding: 20px 50px 20px 20px;
  z-index: 1100;
  border: 5px solid #fee9aa;
}

#modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

h1 {
  margin: -10 0 5 10;
  color: #3a878b;
  font-size: 1.5em;
  font-family: museo-slab,georgia,"times new roman",times,serif;
  font-weight: 700;
}

dl {
  border: 3px double #ccc;
  padding: 0.5em;
}
dt {
  float: left;
  clear: left;
  width: 160px;
  text-align: right;
  font-weight: bold;
  color: green;
}
dt::after {
  content: ":";
}
dd {
  margin: 0 0 0 170px;
  padding: 0 0 0.5em 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

ul li {
  padding: 3px;
}

ul li:before {
  content: "\0BB \020";
  font-weight: bold;
}

.button-on-white {
  border-color: black;
}

button.button-on-white:hover {
  color: #fff;
  background: #ccc;
}

.button-narrow {
  padding: 0px 14px;
  margin: 4px 6px;
}

#close-help {
  position: absolute;
  top: 10px;
  right: 10px;
}
